<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./cases/helper.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
	<testsuites>
		<testsuite name="permalink_fu test suite">
			<directory>./cases/</directory>
		</testsuite>
	</testsuites>
</phpunit>
